# Computer Vision
ultralytics
opencv-python
supervision
lapx

# Database
sqlalchemy
alembic
psycopg2-binary

# GenAI
groq

# Dashboard
streamlit
plotly
pandas

# Config & Env
python-dotenv
pyyaml
pydantic

# Utils
loguru